#root{
    -fx-background-color: rgba(42,43,52, 0.95);
    -fx-background-size: stretch stretch;
    -fx-background-position: center center;
    -fx-background-radius: 10;
}

#teamRed {
  -fx-fill: rgb(255,40,40);
}

#teamBlue {
  -fx-fill: DODGERBLUE;
}

#dataPath {
    -fx-font-size: 20px;
}

.check-box>.box {
  -fx-background-insets: 0;
  -fx-background-radius: 5;
  -fx-background-color: rgb(82,83,92);
}

.check-box>.box>.mark {
  -fx-background-insets: 1;
  -fx-background-color: transparent;
  -fx-background-position: center;
  -fx-background-repeat: stretch;
}

.check-box:selected>.box>.mark{
  -fx-background-insets: 1;
  -fx-background-color: rgb(240,240,240);
}

.check-box:selected>.box{
  -fx-background-color: rgb(62,63,72);


}

.check-box:selected:hover>.box{
  -fx-background-color: rgb(72,73,82);
}

.check-box:hover>.box{
  -fx-background-color: rgb(92,93,102);
}

.check-box:armed>.box{
  -fx-background-color: rgb(52,53,62);
}

.check-box:selected:armed>.box{
  -fx-background-color: rgb(52,53,62);
}



.label {
    -fx-fill: rgb(200, 200, 200);
}

.filelabel {
  -fx-fill: rgb(200, 200, 200);
  -fx-text-style: italic;
}

.button {
  -fx-background-color: rgb(72,73,82);
  -fx-text-fill: rgb(200, 200, 200);
}

.button:hover {
  -fx-background-color: rgb(52,53,62);
  -fx-text-fill: rgb(200, 200, 200);
}

.button:armed {
  -fx-background-color: rgb(32,33,39);
  -fx-text-fill: rgb(200, 200, 200);
}
